In [ ]:
print("Hello World")

Hello World

In [ ]:
angka = 10
string = "Budi"
nama = "Budi Saputri"
jk = "Laki-Laki"

print(angka)
print(string)

10
Budi

In [ ]:
print(nama, jk)

Budi Laki-Laki

In [ ]:
print('Nama Lengkap Anda :', nama, '(Full)')
print('Jenis Kelamin :', jk)

Nama Lengkap Anda : Budi Saputri (Full)
Jenis Kelamin : Laki-Laki

In [ ]:
# Operasi Matematika
# Luas persegi panjang dengan rumus p x l, maka
Luas = 3 * 4
print(Luas)

12

In [ ]:
# Operasi Matematika
panjang = 10
lebar = 6
# Dengan variabel
Luas = panjang * lebar
print(Luas)

60

In [ ]:
#penjumlahan
print('Penjumlahan')
print(2+3)
print(4+8)
print()

# Pengurangan
print('Pengurangan')
print(9-6)
print(6-8)
print()

# Perkalian
print('Perkalian')
print(4*7)
print(3*9)
print()

# Pembagian
print('Pembagian')
print(8/2)
print(9/2)
print()

Penjumlahan
5
12

Pengurangan
3
-2

Perkalian
28
27

Pembagian
4.0
4.5

Method / Function

In [ ]:
def luasPersegiPanjang(p, l):
  Luas = p * l
  return Luas

In [ ]:
print(luasPersegiPanjang(4, 8))
print(luasPersegiPanjang(6, 2))
print(luasPersegiPanjang(3, 5))

32
12
15

In [ ]:
# Latihan
# Buatkan fungsi menghitung segitiga

Library

In [ ]:
import numpy

arr = numpy.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

Percabangan (IF)

In [ ]:
if(True):
  print("Oke")

Oke

In [ ]:
if(False):
  print("Oke")

In [ ]:
angka = 10
if(angka > 0):
  print("Oke")

Oke

In [ ]:
angka = 10
if(angka > 20):
  print("Oke")

In [ ]:
angka = 10
if(angka > 0):
  print("Oke")
else:
  print("False")

Oke

In [ ]:
angka = 10
if(angka > 10):
  print("Oke")
else:
  print("False")

False

In [ ]:
angka = 5
if(angka > 10) and (angka < 100):
  print("Bilangan Puluhan")
else:
  print("Satuan")

Satuan

In [ ]:
angka = 50
if(angka > 10) and (angka < 100):
  print("Bilangan Puluhan")
else:
  print("Satuan")

Bilangan Puluhan

In [ ]:
angka = 500
if(angka < 10):
  print("Bilangan Satuan")
elif(angka > 10) and (angka < 100):
  print("Bilangan Puluhan")
elif(angka > 100) and (angka < 1000):
  print("Bilangan Ratusan")
else:
  print("Bilangan Ribuan")

Bilangan Ratusan

In [ ]:
# Latihan
# Buatlah program untuk merubah nilai angka ke nilai huruf
# 80 - 100  = A
# 70 - 79   = B
# 60 - 69   = C
# 50 - 59   = D
# 0  < 50   = E

Perulangan / Looping

In [ ]:
for row in range(5):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
ulang = 3
for baris in range(ulang):
  print("Hello World")

Hello World
Hello World
Hello World

In [ ]:
ulang = 3
for baris in range(ulang):
  print("Hello World -", baris)

Hello World - 0
Hello World - 1
Hello World - 2

In [ ]:
ulang = 3
for baris in range(ulang):
  print("Hello World -", baris + 1)

Hello World - 1
Hello World - 2
Hello World - 3

In [ ]:
mobil = ["Avanza", "Pajero", "Xpander"]

for row in mobil:
  print(row)

Avanza
Pajero
Xpander

In [ ]:
# Latihan

# Buatkan ouputan menjadi seperti dibawah, tanpa merubah variabel array mobil

# 1. Mobil Avanza
# 2. Mobil Pajero
# 3. Mobil Xpander

In [ ]:
mahasiswa = ["Ade", "Budi", "Cica", "Danur", "Eza"]
for row in mahasiswa:
  print(row)

Ade
Budi
Cica
Danur
Eza

In [ ]:
mahasiswa = []

baru = ["Ade", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Budi", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Cica", "P", "Teknik Informatika"]
mahasiswa.append(baru)

print(mahasiswa)

[['Ade', 'L', 'Teknik Informatika'], ['Budi', 'L', 'Teknik Informatika'], ['Cica', 'P', 'Teknik Informatika']]

In [ ]:
mahasiswa = []

baru = ["Ade", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Budi", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Cica", "P", "Teknik Informatika"]
mahasiswa.append(baru)

print(mahasiswa[1])

# Latihan
# Munculkan semua data Ade

['Budi', 'L', 'Teknik Informatika']

In [ ]:
mahasiswa = []

baru = ["Ade", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Budi", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Cica", "P", "Teknik Informatika"]
mahasiswa.append(baru)

print(mahasiswa[1][1])

# Latihan
# Munculkan nama Ade

L

In [ ]:
mahasiswa = []

baru = ["Ade", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Budi", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Cica", "P", "Teknik Informatika"]
mahasiswa.append(baru)

for row in mahasiswa:
  print(row)

['Ade', 'L', 'Teknik Informatika']
['Budi', 'L', 'Teknik Informatika']
['Cica', 'P', 'Teknik Informatika']

In [ ]:
mahasiswa = []

baru = ["Ade", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Budi", "L", "Teknik Informatika"]
mahasiswa.append(baru)

baru = ["Cica", "P", "Teknik Informatika"]
mahasiswa.append(baru)

for row in mahasiswa:
  print("Nama \t\t:", row[0])
  print("Jenis Kelamin \t:", row[1])
  print("Jurusan \t:", row[2], "\n")

Nama 		: Ade
Jenis Kelamin 	: L
Jurusan 	: Teknik Informatika

Nama 		: Budi
Jenis Kelamin 	: L
Jurusan 	: Teknik Informatika

Nama 		: Cica
Jenis Kelamin 	: P
Jurusan 	: Teknik Informatika